{% extends "pages/base.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $('.event-details').css('display', 'none');
        $('.event-details').css('height', 'auto');
        $('.event-details').css('margin-top', '-17px');
        $('.event-details > .info').css('height', 'auto');
        $('.disabled').prev().css('cursor', 'default');


        $('.event-list > li').click(function () {
            if (!$(this).nextAll('.event-details').first().hasClass('disabled')) {
                //$(this).nextAll('.event-details').first().height('auto');
                $(this).nextAll('.event-details').first().nextAll('.info').first().height('auto');
                $(this).nextAll('.event-details').first().slideToggle();
            }
        });
    })
</script>

<style>
    @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    .event-list {
        list-style: none;
        font-family: 'Lato', sans-serif;
        margin: 10px;
        padding: 20px;
    }

    .event-list>li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
        cursor: pointer;
    }

    .event-list>li>time {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: rgb(197, 44, 102);
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }

    .event-list>li:nth-child(even)>time {
        background-color: rgb(165, 82, 167);
    }

    .event-list>li>time>span {
        display: none;
    }

    .event-list>li>time>.day {
        display: block;
        font-size: 56pt;
        font-weight: 100;
        line-height: 1;
    }

    .event-list>li time>.month {
        display: block;
        font-size: 24pt;
        font-weight: 900;
        line-height: 1;
    }

    .event-list>li>img {
        width: 100%;
    }

    .event-list>li>.info {
        padding-top: 5px;
        text-align: center;
    }

    .event-list>li>.info>.title {
        font-size: 17pt;
        font-weight: 700;
        margin: 0px;
    }

    .event-list>li>.info>.desc {
        font-size: 13pt;
        font-weight: 300;
        margin: 0px;
    }

    .event-list>li>.info>ul,
    .event-list>li>.social>ul {
        display: table;
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .event-list>li>.social>ul {
        margin: 0px;
    }

    .event-list>li>.info>ul>li,
    .event-list>li>.social>ul>li {
        display: table-cell;
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
    }

    .event-list>li>.info>ul>li>a {
        display: block;
        width: 100%;
        color: rgb(30, 30, 30);
        text-decoration: none;
    }

    .event-list>li>.social>ul>li {
        padding: 0px;
    }

    .event-list>li>.social>ul>li>a {
        padding: 3px 0px;
    }

    .event-list>li>.info>ul>li:hover,
    .event-list>li>.social>ul>li:hover {
        color: rgb(30, 30, 30);
        background-color: rgb(200, 200, 200);
    }

    .facebook a,
    .twitter a,
    .google-plus a {
        display: block;
        width: 100%;
        color: rgb(75, 110, 168) !important;
    }

    .twitter a {
        color: rgb(79, 213, 248) !important;
    }

    .google-plus a {
        color: rgb(221, 75, 57) !important;
    }

    .facebook:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(75, 110, 168) !important;
    }

    .twitter:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(79, 213, 248) !important;
    }

    .google-plus:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(221, 75, 57) !important;
    }

    @media (min-width: 768px) {
        .event-list>li {
            position: relative;
            display: block;
            width: 100%;
            height: 120px;
            padding: 0px;
        }
    }

    .event-list>li>time,
    .event-list>li>img {
        display: inline-block;
    }

    .event-list>li>time,
    .event-list>li>img {
        width: 120px;
        float: left;
    }

    .event-list>li>.info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }

    .event-list>li>time,
    .event-list>li>img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }

    .event-list>li>.info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }

    .event-list>li>.info>.title,
    .event-list>li>.info>.desc {
        padding: 0px 10px;
    }

    .event-list>li>.info>ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .event-list>li>.social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }

    .event-list>li>.social>ul {
        border-left: 1.5px solid rgb(230, 230, 230);
    }

    .event-list>li>.social>ul>li {
        display: block;
        padding: 0px;
    }

    .equal {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }

    /* Add a hover effect if you want */

    .fa:hover {
        opacity: 0.7;
    }

    /* Set a specific color for each brand */

    /* Facebook */

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    /* Twitter */

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-google {
        background: #dd4b39;
        color: white;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
    }
</style>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 col-sm-4 bg-danger">
                        <time datetime="{{latestEvent.opened}}">
                            <h4>Latest Event </h4>
                            <h5>{{latestEvent.opened}}</h5>
                            <h6>Price: {{ latestEvent.price }}$</h6>
<!--didn't get the point from this one 	 -->
                        </time>
                    </div>
                    <div class="col-md-5 col-sm-4">
                        <h2 class="title">{{latestEvent.name}}</h2>
                        <p class="desc">{{ latestEvent.description }}
                            <br>{{ latestEvent.opened }} until {{ latestEvent.closed }}</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
     
{% if hasStudent %} 
    <div class="container">
        <div class="row equal">
            <div class="col-md-8 col-sm-12">
                <div class="panel panel-primary">
                    <div style="text-align: center;" class="panel-heading">
                        Your info
                    </div>
                    <ul class="list-group list-group-flush panel-body">
                        <li class="list-group-item">Account manages student : {{ user.student.name}} {{ user.student.lastname }}</li>
                        <li class="list-group-item">{{ user.student.name }} is in {{ user.student.group }}</li>
                        <li class="list-group-item">{{user.student.group }}'s teacher is {{user.student.group.training.employee }}</li>
                        <li class="list-group-item">{{ user.student.group }} is currently learning {{ user.student.group.training.module.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center;">
                        Payments
                    </div>
                    <p>
                        <div class="panel-body">
                            <h5>Latest payment : #{{ latestPayment.id }}</h5>
                            <p>
                                <p class="card-text">You can look for your payments history online!</p>
                                <a href="/users/payments" style="border: 1.5px solid; opacity: .7" class="btn">Payments History</a>
                                <p>
                                    <p>
                                        <p>
                                            <p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center;">
                        Register in one of our trainings!
                    </div>
                    <div class="panel-body">
                        <h5>Trainings</h5>
                        <p class="card-text">Select one to redirect to the list of trainings</p>
                        <a href="http://www.j-coders.com/planprogrami-per-moshat-15-deri-18/" style="border: 1.5px solid; opacity: .7" class="btn">For 15-18</a>
                        <a href="http://www.j-coders.com/programi-per-moshat-8-deri-15/" style="border: 1.5px solid; opacity: .7" class="btn">For 8-15</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center;">
                        Payments
                    </div>
                    <div class="panel-body">
                        <h5 class="card-title">Latest payment : #{{ latestPayment.id }}</h5>
                        <p class="card-text">You can look for your payments history online!</p>
                        <a href="/users/payments" style="border: 1.5px solid; opacity: .7" class="btn">Payments History</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <button type="button" class="btn btn-default fa fa-facebook"></button>
                <button type="button" class="btn btn-default fa fa-twitter"></button>
                <button type="button" class="btn btn-default fa fa-youtube"></button>
        </div>
    </div>
    {% endif %}


    </li>
    </ul>
</div>

</html>

{% endblock content %}
